.home {
  padding-top: 50px;
  display: flex;
}
.home__search {
  display: flex;
  flex-direction: column;
  background-color: #a39ce9;
  width: 100%;
  align-items: center;
  min-height: 500px;
}
.home__bar {
  display: flex;
  margin: auto auto;
}
.home__bar button {
  background-color: lightgreen;
  border: none;
}
.home__country {
  width: 200px;
}
.home__university {
  width: 400px;
  margin-left: 10px;
}
.home__searchIcon {
  margin-left: 10px;
  background-color: lightgreen;
  min-width: 40px;
  min-height: 40px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
}
.home__searchIcon:hover {
  transition: all 0.2s ease-in-out;

  box-shadow: 0px 0px 8px -1px #000000;
}
