.profileApplications {
  display: flex;
  flex-direction: column;
}
.profileApplications_addApplication {
  margin: auto auto;
}
.profileApplications__uniSearch {
  min-width: 100%;
}
.decisions__filter {
  display: flex;
  flex-direction: column;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}
.decision__box {
  display: flex;
}
